body {
    background-image: url('/img/Fondo.jpg');
    font-family: 'Kaushan Script', cursive;
    margin: 0%;
}

header {
    background-color: #064663;
}

header h1 {
    margin: 0%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

header ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.contenedorLogo {
    width: 20%;
}

.Logo {
    text-align: end;
    width: 100%;
    background-color: #ECB365;
    text-shadow: rgba(0, 0, 0, 0.597) 2px 2px 1px;
}

.esquina {
    border-top: 70px solid #ECB365;
    border-right: 70px solid #064663;
}

.contenedorPrincipal {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
    margin-top: 7%;
    border-radius: 10px;
}

.loginIzq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #064663;
    color: white;
    padding: 3% 5% 3% 5%;
    border-radius: 10px 0px 0px 10px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 6px 20px;
}

h2 {
    font-weight: 900;
    font-family: 'Kaushan Script', cursive;
    text-shadow: black 3px 4px 10px;
    text-align: justify;
    text-align: center;
}

p {
    font-family: 'Dosis', cursive;
    font-weight: 600;
    text-align: justify;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.cajaTexto {
    border: 0px none;
    padding: 5px;
    margin-bottom: 4%;
    background-color: #EFEFF1;
    color: rgb(49, 48, 48);
    border-radius: 17px;
}

.cajaTexto:focus {
    outline: none;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.boton {
    border: none;
    padding: 6px;
    width: 60%;
    margin: 1%;
    margin-top: 10%;
    border-radius: 999px;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    box-shadow: black 4px 4px 10px;
}

.btn-registrar {
    background-color: #041C32;
    color: white;
    font-weight: bolder;
}

.btn-ingresar {
    background-color: #041C32;
    color: white;
    font-weight: bolder;
}

.contenedorBoton {
    display: flex;
    justify-content: center;
}

.boton:hover {
    background-color: rgb(78, 76, 76);
}

.loginDer {
    background-color: #ECB365;
    color: white;
    padding: 3% 5% 3% 5%;
    border-radius: 0px 10px 10px 0px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 6px 20px;
}